rescoreClauses=[ \
  "{\n\ \ \"description\":\ \"Example\ of\ LTR.\ Requires\ the\ LTR\ components\ to\ be\ set\ up.\ See\ https://github.com/peerkar/liferay-gsearch/tree/master/gsearch-learn-to-rank-scripts.\",\n\ \ \"enabled\":\ false,\n\ \ \"conditions\":\ [],\n\ \ \"clauses\":\ [\n\ \ \ \ {\n\ \ \ \ \ \ \"query_type\":\ \"ltr\",\n\ \ \ \ \ \ \"occur\":\ \"should\",\n\ \ \ \ \ \ \"configuration\":\ {\n\ \ \ \ \ \ \ \ \"model\":\ \"gsearch_model_9\",\n\ \ \ \ \ \ \ \ \"params\":\ [\n\ \ \ \ \ \ \ \ \ \ {\n\ \ \ \ \ \ \ \ \ \ \ \ \"key\":\ \"keywords\",\n\ \ \ \ \ \ \ \ \ \ \ \ \"value\":\ \"$_context.keywords_$\"\n\ \ \ \ \ \ \ \ \ \ }\n\ \ \ \ \ \ \ \ ]\n\ \ \ \ \ \ }\n\ \ \ \ }\n\ \ ]\n}", \
  ]
