excludedWords=[ \
  "badword", \
  ]
filterSplitter="[\ ,.;\\-]+"
isQuerySuggestionsEnabled="true"
keywordSuggesters=[ \
  "{\n\ \ \"description\":\ \"The\ default\ suggester.\",\n\ \ \"enabled\":\ true,\n\ \ \"type\":\ \"phrase\",\n\ \ \"confidence\":\ \"0.1f\",\n\ \ \"field_name\":\ \"keywordSearch_$_context.language_id_$\",\n\ \ \"gram_size\":\ \"2\",\n\ \ \"max_errors\":\ \"2.0f\",\n\ \ \"number_of_suggestions\":\ 5,\n\ \ \"pre_highlight_tag\":\ \"\",\n\ \ \"post_highlight_tag\":\ \"\",\n\ \ \"real_word_error_likelihood\":\ \"0.95f\"\n}", \
  "{\n\ \ \"description\":\ \"A\ custom\ phrase\ suggester.\ Requires\ the\ custom\ Elasticsearch\ adapter.\",\n\ \ \"enabled\":\ false,\n\ \ \"type\":\ \"phrase\",\n\ \ \"confidence\":\ \"0.1f\",\n\ \ \"field_name\":\ \"keywordSearch_$_context.language_id_$.ngram\",\n\ \ \"gram_size\":\ \"2\",\n\ \ \"max_errors\":\ \"2.0f\",\n\ \ \"number_of_suggestions\":\ 5,\n\ \ \"pre_highlight_tag\":\ \"\",\n\ \ \"post_highlight_tag\":\ \"\",\n\ \ \"real_word_error_likelihood\":\ \"0.95f\"\n}", \
  "{\n\ \ \"description\":\ \"A\ custom\ completion\ suggester.\ Requires\ the\ custom\ Elasticsearch\ adapter.\",\n\ \ \"enabled\":\ false,\n\ \ \"type\":\ \"completion\",\n\ \ \"field_name\":\ \"keywordSearch_$_context.language_id_$.suggest\",\n\ \ \"number_of_suggestions\":\ 5\n}", \
  ]
queryIndexingThreshold="2"
querySuggestionsHitsThreshold="1"
querySuggestionsMax="1"
