filters=[ \
  "{\n\ \ \"description\":\ \"Limits\ search\ to\ defined\ asset\ types.\",\n\ \ \"enabled\":\ true,\n\ \ \"occur\":\ \"must\",\n\ \ \"configuration\":\ {\n\ \ \ \ \"field_name\":\ \"entryClassName\",\n\ \ \ \ \"occur\":\ \"should\",\n\ \ \ \ \"values\":\ [\n\ \ \ \ \ \ \"com.liferay.journal.model.JournalArticle\",\n\ \ \ \ \ \ \"com.liferay.document.library.kernel.model.DLFileEntry\",\n\ \ \ \ \ \ \"com.liferay.message.boards.kernel.model.MBMessage\",\n\ \ \ \ \ \ \"com.liferay.message.boards.model.MBMessage\",\n\ \ \ \ \ \ \"com.liferay.blogs.kernel.model.BlogsEntry\",\n\ \ \ \ \ \ \"com.liferay.blogs.model.BlogsEntry\",\n\ \ \ \ \ \ \"com.liferay.wiki.model.WikiPage\",\n\ \ \ \ \ \ \"com.liferay.knowledge.base.model.KBArticle\",\n\ \ \ \ \ \ \"com.liferay.portal.kernel.model.User\",\n\ \ \ \ \ \ \"non-liferay-type-example\"\n\ \ \ \ ]\n\ \ }\n}", \
  "", \
  ]
