assetPublisherPage="/viewasset"
autoCompleteRequestDelay="150"
contentSuggestionsCount="8"
hideOnPages=[ \
  "/search", \
  "/group/guest/search", \
  ]
isRedirectAppended="true"
isViewResultsInContext="true"
queryMinLength="2"
requestTimeout="10000"
searchPortletPage="/search"
suggestMode="contents"
