.gsearch-portlet {

	.scopemenu {
		display: none !important;
	}
	
	.gsearch-paging .page a,
	.gsearch-results a {
		color: #03a9f4;
	}
	
	.gsearch-results {

		.tags {
	
			margin-top: 15px;
		
			.tag {
			    border-color: #9ba0ad;
			    color: #8792a7;
			}
			
			.tag.active {
				background: #9ba0ad;
				color: #fff;
			}
			
			.tag:hover {
				cursor: pointer;
			}
		}
	}
	
	.gsearch-facet-selections {
	
		li {
		    border-radius: 2px;
		    padding: 5px 5px 6px 14px;
		    background: #9ba0ad;
		    color: #fff;		
		    
		    .glyphicon {
		    	color: #fff;
		    }
		}
	}
	
	.gsearch-sort {
	
		.btn-link {
		}
	}
		
	.gsearch-results-layout {
	 	.options a {
 			border: 1px solid #dcdcdc;
		 }
	}
}