googleMapsAPIKey=""
isJSDebuggingEnabled="false"
requestTimeout="10000"
assetPublisherPage="/viewasset"
isKeywordSuggesterEnabled="true"
resultLayouts=["{\n\t\"key\":\ \"list\",\n\t\"css_classes\":\ \"\",\n\t\"default\":\ \"true\",\n\t\"icon\":\ \"icon-list.png\",\ \n\t\"title\":\ \"list-layout\"\n}","{\n\t\"key\":\ \"userImageList\",\n\t\"css_classes\":\ \"hidden-sm\ hidden-xs\",\n\t\"icon\":\ \"icon-user-list.png\"\ ,\n\t\"title\":\ \"user-image-layout\"\n}","{\n\t\"key\":\ \"thumbnailList\",\n\t\"css_classes\":\ \"hidden-sm\ hidden-xs\",\n\t\"icon\":\ \"icon-thumbnail-list.png\",\n\t\"title\":\ \"thumbnail-layout\"\n}","{\n\t\"key\":\ \"image\",\n\t\"css_classes\":\ \"\",\n\t\"icon\":\ \"icon-image-list.png\",\n\t\"title\":\ \"image-layout\",\n\t\"param_filters\":\ [\n\t\t{\n\t\t\t\"parameter\":\ \"type\",\n\t\t\t\"value\":\ \"file\"\n\t\t},\n\t\t{\n\t\t\t\"parameter\":\ \"extension\",\n\t\t\t\"value\":\ \"image\"\n\t\t}\n\t],\n\t\"param_filter_operator\":\ \"or\"\n}","{\n\t\"key\":\ \"maps\",\n\t\"css_classes\":\ \"\",\n\t\"icon\":\ \"icon-maps-list.png\"\ ,\n\t\"title\":\ \"maps-layout\"\n}"]
helpTextGroupId="0"
isViewResultsInContext="true"
pageSize="10"
keywordSuggesterRequestDelay="150"
helpTextArticleId=""
isAssetTagsVisible="true"
queryMinLength="3"
