assetTypes=["{\n\ \ \ \ \"key\":\ \"web-content\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.journal.model.JournalArticle\"\n}","{\n\ \ \ \ \"key\":\ \"file\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.document.library.kernel.model.DLFileEntry\"\n}","{\n\ \ \ \ \"key\":\ \"discussion\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.message.boards.kernel.model.MBMessage\"\n}","{\n\ \ \ \ \"key\":\ \"blog\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.blogs.kernel.model.BlogsEntry\"\n}","{\n\ \ \ \ \"key\":\ \"wikipage\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.wiki.model.WikiPage\"\n}","{\n\ \ \ \ \"key\":\ \"kb\",\n\ \ \ \ \"entry_class_name\":\ \"com.liferay.knowledge.base.model.KBArticle\"\n}","{\n\ \ \ \ \"key\":\ \"non-liferay-type-example\",\n\ \ \ \ \"entry_class_name\":\ \"non-liferay-type\"\n}"]
