keywordSuggesters=["{\n\t\"type\":\ \"phrase\",\n\t\"analyzer\":\ \"\",\n\t\"confidence\":\ \"0.1f\",\n\t\"field_name\":\ \"keywordSearch_$_language_id_$.ngram\",\n\t\"gram_size\":\ \"2\",\n\t\"max_errors\":\ \"2.0f\",\n\t\"number_of_suggestions\":\ \ 5,\n\t\"pre_highlight_tag\":\ \"\",\n\t\"post_highlight_tag\":\ \"\",\n\t\"real_word_error_likelihood\":\ \"0.95f\"\n}","{\n\t\"type\":\ \"completion\",\n\t\"analyzer\":\ \"\",\n\t\"field_name\":\ \"keywordSearch_$_language_id_$.suggest\",\n\t\"number_of_suggestions\":\ \ 5\n}"]
