sorts=["{\n\t\"key\":\ \"score\",\n\t\"field_name\":\ \"_score\",\n\t\"field_type\":\ \ 0,\n\t\"default\":\ true\n}","{\n\t\"key\":\ \"title\",\n\t\"field_name\":\ \"localized_title_$_language_id_$_sortable\",\n\t\"field_type\":\ \ 3\n}","{\n\t\"key\":\ \"modified\",\n\t\"field_name\":\ \"modified_sortable\",\n\t\"field_type\":\ \ 6\n}"]
