filters="{\n\t\"description\":\ \"Limits\ search\ to\ defined\ asset\ types.\",\n\t\"field_name\":\ \"entryClassName\",\n\t\"filter_enabled\":\ true,\n\t\"filter_occur\":\ \"must\",\n\ \t\"values\":\ [\n\t\t\"com.liferay.journal.model.JournalArticle\",\ \n\t\t\"com.liferay.document.library.kernel.model.DLFileEntry\",\n\t\t\"com.liferay.message.boards.kernel.model.MBMessage\",\n\t\t\"com.liferay.message.boards.model.MBMessage\",\n\t\t\"com.liferay.blogs.kernel.model.BlogsEntry\",\ \n\t\t\"com.liferay.blogs.model.BlogsEntry\",\n\t\t\"com.liferay.wiki.model.WikiPage\",\n\t\t\"com.liferay.knowledge.base.model.KBArticle\",\n\t\t\"com.liferay.portal.kernel.model.User\",\n\t\t\"non-liferay-type-example\"\n\t],\n\t\"value_occur\":\ \"should\"\n}"
