filters="{\n\t\"description\":\ \"Allows\ to\ search\ only\ defined\ entryClassNames\ (asset\ types).\ \",\n\t\"field_name\":\ \"entryClassName\",\n\t\"filter_enabled\":\ true,\n\t\"filter_occur\":\ \"must\",\n\ \t\"values\":\ [\n\t\t\"com.liferay.journal.model.JournalArticle\",\n\t\t\"com.liferay.document.library.kernel.model.DLFileEntry\",\n\t\t\"fi.helsinki.flamma.feed.model.FeedEntry\"\n\t],\n\t\"value_occur\":\ \"should\"\n}"
