enableMapsLayout="false"
functionType="gauss"
scale="2000km"
enableQueryContributor="false"
testIpAddress=""
offset="1000km"
weight="2.0"
decay="0.75"
boost="2.0"
IPStackApiKey="[Get\ your\ (free)\ API\ key\ from\ https://ipstack.com]"
indexField="gsearch_geolocation"
enableIndexerPostProcessor="false"
