googleMapsAPIKey=""
jsDebuggingEnabled="false"
requestTimeout="10000"
resultLayouts="[\n\t{\n\t\t\"key\":\ \"list\",\n\t\t\"cssClasses\":\ \"\",\n\t\t\"icon\":\ \"icon-list.png\",\ \n\t\t\"title\":\ \"list-layout\"\n\t},\n\t{\n\t\t\"key\":\ \"userImageList\",\n\t\t\"cssClasses\":\ \"hidden-sm\ hidden-xs\",\n\t\t\"icon\":\ \"icon-user-list.png\"\ ,\n\t\t\"title\":\ \"user-image-layout\"\n\t},\n\t{\n\t\t\"key\":\ \"thumbnailList\",\n\t\t\"cssClasses\":\ \"hidden-sm\ hidden-xs\",\n\t\t\"icon\":\ \"icon-thumbnail-list.png\",\n\t\t\"title\":\ \"thumbnail-layout\"\n\t},\n\t{\n\t\t\"key\":\ \"image\",\n\t\t\"cssClasses\":\ \"\",\n\t\t\"icon\":\ \"icon-image-list.png\",\n\t\t\"title\":\ \"image-layout\"\n\t},\n\t{\n\t\t\"key\":\ \"maps\",\n\t\t\"cssClasses\":\ \"\",\n\t\t\"icon\":\ \"icon-maps-list.png\"\ ,\n\t\t\"title\":\ \"maps-layout\"\n\t}\n]"
helpTextGroupId="0"
enableAutoComplete="true"
showTags="true"
helpTextArticleId=""
autoCompleteRequestDelay="150"
queryMinLength="3"
