assetPublisherPage="/viewasset"
datePickerFormat="yyyy-MM-dd"
googleMapsAPIKey=""
googleMapsDefaultCenterLat="51.522526"
googleMapsDefaultCenterLng="-0.130456"
helpTextArticleId=""
helpTextGroupId="0"
isAssetCategoriesVisible="false"
isAssetTagsVisible="false"
isClickTrackingEnabled="true"
isKeywordSuggesterEnabled="true"
isLinkVisible="true"
isRedirectAppended="false"
isScopeFilterVisible="true"
isTimeFilterVisible="true"
isTypeVisible="true"
isUserNameVisible="false"
isViewResultsInContext="true"
keywordSuggesterRequestDelay="150"
keywordsPlaceholder="Search..."
pageSize="10"
queryMinLength="3"
requestTimeout="10000"
resultLayouts=[ \
  "{\n\ \ \"description\":\ \"Basic\ list\ layout.\",\n\ \ \"default\":\ \"true\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"list\ icon-list\",\n\ \ \"text\":\ \"basic-list-layout\",\n\ \ \"value\":\ \"basic\"\n}", \
  "{\n\ \ \"description\":\ \"Result\ layout\ with\ a\ user\ image.\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"user\ icon-user\",\n\ \ \"text\":\ \"user-image-layout\",\n\ \ \"value\":\ \"userImage\"\n}", \
  "{\n\ \ \"description\":\ \"Result\ layout\ with\ a\ thumbnail\ (if\ available).\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"list\ layout\ icon-layout\",\n\ \ \"text\":\ \"thumbnail-layout\",\n\ \ \"value\":\ \"thumbnail\"\n}", \
  "{\n\ \ \"description\":\ \"Cards\ result\ layout.\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"image\ icon-card\",\n\ \ \"text\":\ \"card-layout\",\n\ \ \"value\":\ \"card\"\n}", \
  "{\n\ \ \"description\":\ \"Google\ Maps\ result\ layout.\ Only\ useful\ if\ you\ use\ the\ Liferay\ GSearch\ Geolocation\ Plugin.\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"globe\ icon-map\",\n\ \ \"text\":\ \"maps-layout\",\n\ \ \"value\":\ \"maps\"\n}", \
  "{\n\ \ \"description\":\ \"Raw\ document\ layout\ for\ debugging.\ You\ might\ want\ to\ disable\ this\ in\ production.\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"image\ icon-tools\",\n\ \ \"text\":\ \"raw-document-layout\",\n\ \ \"value\":\ \"document\"\n}", \
  "{\n\ \ \"description\":\ \"Explain\ view\ for\ debugging.\ You\ might\ want\ to\ disable\ this\ in\ production.\",\n\ \ \"enabled\":\ true,\n\ \ \"icon\":\ \"image\ icon-tools\",\n\ \ \"text\":\ \"explain-layout\",\n\ \ \"value\":\ \"explain\"\n}", \
  ]
