filters="{\n\t\"description\":\ \"Limits\ search\ to\ defined\ asset\ types.\",\n\t\"field_name\":\ \"entryClassName\",\n\t\"filter_enabled\":\ true,\n\t\"filter_occur\":\ \"must\",\n\ \t\"values\":\ [\n\t\t\"com.liferay.document.library.kernel.model.DLFileEntry\",\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \"com.liferay.wiki.model.WikiPage\",\n\t\t\"com.liferay.message.boards.model.MBMessage\"\n\t],\n\t\"value_occur\":\ \"should\"\n}"
