facets=[ \
  "{\n\t\"description\":\ \"Asset\ type\ facet.\",\n\t\"param_name\":\ \"entryClassName\",\n\t\"aggregate_fields\":\ [\n\t\t\"entryClassName\"\n\t],\n\ \t\"processor_name\":\ \"default\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"entryClassName\",\n\t\t\"filter_mode\":\ \"post\",\n\t\t\"allow_multiple_values\":\ true,\n\t\t\"multi_value_operator\":\ \"or\"\n\t},\n\t\"hide\":\ false\n}", \
  "{\n\t\"description\":\ \"Web\ Content\ structure\ facet.\",\n\t\"param_name\":\ \"ddmStructureKey\",\n\t\"aggregate_fields\":\ [\n\t\t\"ddmStructureKey\"\n\t],\n\ \t\"processor_name\":\ \"ddm_structure\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"ddmStructureKey\",\n\t\t\"filter_mode\":\ \"post\",\n\t\t\"allow_multiple_values\":\ true,\n\t\t\"multi_value_operator\":\ \"or\"\n\t},\n\t\"hide\":\ false\n}", \
  "{\n\t\"description\":\ \"File\ entry\ type\ facet.\",\n\t\"param_name\":\ \"fileEntryTypeId\",\n\t\"aggregate_fields\":\ [\n\t\t\"fileEntryTypeId\"\n\t],\n\ \t\"processor_name\":\ \"file_entry_type\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"fileEntryTypeId\",\n\t\t\"filter_mode\":\ \"post\",\n\t\t\"allow_multiple_values\":\ true,\n\t\t\"multi_value_operator\":\ \"or\"\n\t},\n\t\"hide\":\ false\n}", \
  "{\n\t\"description\":\ \"File\ extension\ facet.\",\n\t\"param_name\":\ \"extension\",\n\t\"aggregate_fields\":\ [\n\t\t\"extension\"\n\t],\n\ \t\"processor_name\":\ \"file_extension\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"extension\",\n\t\t\"aggregations\":\ [\n\t\t{\n\t\t\t\"key\":\ \"Image\",\n\t\t\t\"values\":\ \"png,jpg,gif\"\n\t\t},\n\t\t{\n\t\t\t\"key\":\ \"MS\ Word\",\n\t\t\t\"values\":\ \"doc,docx\"\n\t\t},\n\t\t{\n\t\t\t\"key\":\ \"MS\ Excel\",\n\t\t\t\"values\":\ \"xls,xlsx\"\n\t\t},\n\t\t{\n\t\t\t\"key\":\ \"MS\ Powerpoint\",\n\t\t\t\"values\":\ \"ppt,pptx\"\n\t\t},\n\t\t{\n\t\t\t\"key\":\ \"Video\",\n\t\t\t\"values\":\ \"mp4,avi\"\n\t\t},\n\t\t{\n\t\t\t\"key\":\ \"Audio\",\n\t\t\t\"values\":\ \"mp3\"\n\t\t}\n\t\t],\n\t\t\"filter_mode\":\ \"post\",\n\t\t\"allow_multiple_values\":\ true,\n\t\t\"multi_value_operator\":\ \"or\"\n\t},\n\t\"hide\":\ false\n}", \
  "{\n\t\"description\":\ \"Asset\ tags\ facet.\",\n\t\"param_name\":\ \"assetTagNames\",\n\t\"aggregate_fields\":\ [\n\t\t\"assetTagNames.raw\"\n\t],\n\ \t\"processor_name\":\ \"default\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"assetTagNames.raw\",\n\t\t\"filter_mode\":\ \"post\",\n\t\t\"allow_multiple_values\":\ true,\n\t\t\"multi_value_operator\":\ \"or\"\n\t},\n\t\"hide\":\ false\n}", \
  "{\n\t\"description\":\ \"Username\ facet.\",\n\t\"param_name\":\ \"userName\",\n\t\"aggregate_fields\":\ [\n\t\t\"userName\"\n\t],\n\ \t\"processor_name\":\ \"default\",\n\ \t\"processor_params\":\ {\n\t\t\"field_name\":\ \"userName\",\n\t\t\"filter_mode\":\ \"post\"\n\t},\n\t\"hide\":\ false\n}", \
  ]
